/* CSS Document */

/* Use relative font sizes */
body {
  background: #e3e5e8;
  color: #ffffff;
  font-family: "Lato", Verdana, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* Responsive headings */
h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
  padding-bottom: 0.25em;
}

h3 {
  font-size: 1.65em;
}

h4 {
  font-size: 1.45em;
  font-weight: bold; /* Add this line to make h4 elements bold */
}


/* Disable underline on hover for all links */
a:hover {
  text-decoration: none;
}

/* Responsive container */
.container,
.containersmall,
.schedule,
.news,
.notes,
.researcher,
.publication,
.experience,
.paper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: clamp(0.1em, 2%, 1em);      /* Min: 0.5em, Preferred: 2%, Max: 1em */
  color: #4d4b59;
  background: #ffffff;
  text-align: center;
}

.researcher {
  padding-left: clamp(0.1em, 8%, 5em);
  padding-right: clamp(0.1em, 8%, 5em);
}

.paper,
.experience {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: clamp(0.1em, 5%, 3em);  /* Minimum 1em, preferred 5%, maximum 5em */
  padding-right: clamp(0.1em, 5%, 3em); /* Minimum 1em, preferred 5%, maximum 5em */
}

/* Responsive images */
.researcherphoto img {
  width: 100%;
  max-width: 230px;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* Adjust table layouts */
table {
  width: 100%;
}

th,
td {
  padding: clamp(0em, 1%, 1em); /* Min: 0.5em, Preferred: 2%, Max: 1em */
}

/* Styles for the paper section */
.paper .teaser-cell {
  width: 32%;
  vertical-align: center;
}

.paper .info-cell {
  width: 68%;
  vertical-align: top;
  text-align: left; /* Add this line to left-align text */
  padding-top: clamp(0.1em, 2%, 1em);      /* Min: 0.5em, Preferred: 2%, Max: 1em */
  padding-bottom: clamp(0.1em, 2%, 1em);   /* Min: 0.5em, Preferred: 2%, Max: 1em */
  padding-left: clamp(0.1em, 5%, 1.5em);     /* Min: 1em, Preferred: 5%, Max: 1.5em */
}

.paper img {
  width: 100%;
  height: auto;
}

.experience .image-cell {
  width: 40%;
  vertical-align: center;
}

.experience .info-cell {
  width: 60%;
  padding-left: clamp(0.1em, 1%, 1em);     /* Min: 1em, Preferred: 5%, Max: 1.5em */
  vertical-align: center;
  text-align: left; /* Add this line to left-align text */
}

/* Targeting images inside the .experience section */
.experience .image-cell img {
  width: clamp(80px, 30%, 120px); /* Minimum 80px, preferred 30% of container, maximum 120px */
  height: clamp(80px, 30%, 120px); /* Consistent height based on width */
  object-fit: contain; /* Maintains aspect ratio without distortion */
}


.containersmall {
  text-align: right;
}
